<div class="implementation">
    <h4 mt-3 mb-3>Implementation</h4>
    <div class="imp-list mt-3">
                    <div class="content"><h6>Compelling Mission<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    <div class="content"><h6>Scale Modelling<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    <div class="content"><h6>Plateform Strategy<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    <div class="content"><h6>Systems Leadership<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    <div class="content"><h6>Impact Aperture<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    <div class="content"><h6>Sustained Owenership<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    <div class="content"><h6>Amplification Networks<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    <div class="content"><h6>Co-creation Environments<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    
    </div>

</div>