<div class="implementation">
    <h5 class="mt-3 mb-3 ml-3">Implementation<i class="fa fa-minus pull-right mr-4 mt-2"></i></h5>
    <div class="imp-list mt-3">
                    <div class="content"><h6 class="pt-2 pb-2 pl-4">Compelling Mission<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    <div class="content"><h6 class="pt-2 pb-2 pl-4">Scale Modelling<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    <div class="content"><h6 class="pt-2 pb-2 pl-4">Plateform Strategy<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    <div class="content"><h6 class="pt-2 pb-2 pl-4">Systems Leadership<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    <div class="content"><h6 class="pt-2 pb-2 pl-4">Impact Aperture<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    <div class="content"><h6 class="pt-2 pb-2 pl-4">Sustained Owenership<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    <div class="content"><h6 class="pt-2 pb-2 pl-4">Amplification Networks<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    <div class="content"><h6 class="pt-2 pb-2 pl-4">Co-creation Environments<i class="fa fa-caret-right pull-right pr-5"></i></h6></div>
                    
    </div>

</div>