.imp-list .content h6:hover {
    background-color: #FF8156;
    color:#fff;
}

.imp-list .content h6:active {
    background-color: #FF8156;
    color:#fff;
}
h6 {
    font-family: 'Source Sans Pro', sans-serif;
    color:#212529;
}
.content .fa{
    color:#F7F8Fc;
}
.fa-minus{
    color:#D6D6D8;
}