<div class="filter-navbar">
    <div class="row mr-0 ml-0">
        <div class="col-7 pt-4 pb-2">
            <h6>We have found total 25 records</h6>
        </div>

        <div class="col-5 pl-3 pr-3">
            <div class="nav-search">
                <i class="fa fa-search pl-4 pr-2 pt-2 pb-2"></i>
                <input class="nav-input pt-2 pb-2" type="text" placeholder="Search by Keyword">
                    <button class="btn-navbar pt-2 pb-2 pl-4 pr-4 pull-right">Search</button>
            </div>
            
        </div>

    </div>
</div>