<div class="assest-type">
    <div class="head">
        <h5 class="mt-3 mb-3 ml-3">Assest Type<i class="fa fa-minus pull-right mr-4 mt-2"></i></h5>
    </div>
    <div class="row assest ml-1">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 mb-2 mt-2">
            <button class="assest-btn shadow-lg pt-2 pb-2 pl-3 pr-3">Knowledge</button>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 mb-2 mt-2">
            <button  class="assest-btn shadow-lg pt-2 pb-2 pl-3 pr-3">Process</button>
        </div>
    </div>
    <div class="row assest  ml-1">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 mb-2 mt-2">
            <button class="assest-btn shadow-lg pt-2 pb-2 pl-3 pr-3">Software</button>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 mb-2 mt-2">
            <button class="assest-btn shadow-lg pt-2 pb-2 pl-3 pr-3">Hardware</button>
        </div>
    </div>
    <div class="row assest ml-1">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4 mb-2 mt-2">
            <button class="assest-btn shadow-lg pt-2 pb-2 pl-3 pr-3">Data</button>
        </div>
    </div>
</div>