    <div class="row">
        <!-- sidebar -->
        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
            <app-sidebar></app-sidebar>
        </div>
        <!-- sidebar -->
        <div class="col-12 col-sm-9 col-md-9 col-lg-9">
            <!-- nav-bar -->
            <div class="row">
                <app-nav-bar></app-nav-bar>
                <!-- nav-bar -->
                <!-- card-body -->
                <app-card-body></app-card-body>
                <!-- card-body -->
            </div>
        </div>
    </div>
