.sidebar-top .fa-filter{
    color:#b6b6b6;
}
.sidebar-top{
    background-color:#ececec;
}
.sidebar-reset button{
    color:#177afa;
    border:none;
    background-color: #ececec;
}
.sidebar-head{
    color:#000;
}