<!-- Card -->
<div class="card">
    <div class="avatar mx-auto">
        <p class="rounded-circle"></p>
    </div>
    <div class="star">
        <button class="btn-star pull-right mr-3"><i class="fa fa-star"></i></button>
    </div>
    <!-- Content -->
    <div class="card-body">
        <!-- Name -->
        <h5 class="card-title">Anna Doe</h5>
        <!-- Quotation -->
        <p class="p-grey">Version : 1.0</p>
        <p class="p-grey">Created By : EkStep</p>
        <p class="p-grey">Since : 2017</p>
        <p class="p-grey">Where : India</p>
        <p class="p-grey">Link : Sunbird</p>
        <p class="p-black">Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Eos, adipisci</p>
    </div>

</div>
<!-- Card -->
