.card{
    margin: 100px 30px 0px 30px;
    border: none;
    box-shadow: 0 0 30px #A8A8A8;
    width:250px;
    height:300px;

}
.card .avatar p{
    background-color: #AFEB91;
    width:80px;
    height:80px;
    position: relative;
    top: -40px;
    margin-bottom: -30px;
}
.card-body{
    text-align: center;
    padding: 0;
}
.card-body .p-grey{
    color:#7D7D7D;
    font-size:13px;
    margin-bottom: 5px;
}
.card-body .p-black{
    font-size:13px;
}
.btn-star{
    border:none;
    outline:none;
    background-color: #fff;
    margin-top: -25px;
    margin-bottom: -45px;
}
.star .fa-star{
    color:#C5C5C5;  
    font-size:20px;
}