<div class="sector">
    <h5 class="mt-3 mb-3 ml-3">Sector<i class="fa fa-minus pull-right mr-4 mt-2"></i></h5>
    <div class="sector-list">
        <ul class="unstyled ml-3">
            <li>
                <input class="styled-checkbox" id="styled-checkbox-1"
                    type="checkbox" value="value1">
                <label for="styled-checkbox-1">Lifelong Learning</label>
            </li>
            <li>
                <input class="styled-checkbox" id="styled-checkbox-2"
                    type="checkbox" value="value1">
                <label for="styled-checkbox-2">Personalize Healthcare</label>
            </li>
            <li>
                <input class="styled-checkbox" id="styled-checkbox-3"
                    type="checkbox" value="value1">
                <label for="styled-checkbox-3">Financial Inclusion</label>
            </li>
            <li>
                <input class="styled-checkbox" id="styled-checkbox-4"
                    type="checkbox" value="value1">
                <label for="styled-checkbox-4">Sustainable Healthcare</label>
            </li>
            <li>
                <input class="styled-checkbox" id="styled-checkbox-5"
                    type="checkbox" value="value1">
                <label for="styled-checkbox-5">Emerging Livelihoods</label>
            </li>
            <li>
                <input class="styled-checkbox" id="styled-checkbox-6"
                    type="checkbox" value="value1">
                <label for="styled-checkbox-6">Any</label>
            </li>
        </ul>
    </div>
</div>